#
# 先頭の # はコメントです
#

################################################
## 起動コマンド・オプションにて設定可能な項目 ##
################################################

## セパレータを指定 (--separator= と同等)
#separator = ' : '

## プレフィックスを指定 (--prefix= と同等)
#prefix = '■'

## 自動検索する間隔秒を変更する (--interval= と同等)
#xinterval = 0.3

## プレフィックスを表示しない (-p --noprefix と同等)
#noprefix = true

## 自動検索しない (-x --noselection と同等)
#xselection = true

## キー情報ファイルを再作成する (-l --learnkey と同等)
#learnkey = true

## 見出し語をBOLD表示する (-b --bold と同等)
#bold = true

## インデントする桁数を指定する (--indent= と同等)
#indent = 1

## 先頭見出し語をREVERSE表示する (-r --reverse)
#reverse = true

################################################
## 起動コマンド・オプションにない項目         ##
################################################

## リスト表示マーク正規表現
##     改行した時、前行の先頭からの"ある文字"分インデント
##     したい、その"ある文字"のこと。
## (デフォルトは以下の通り)  \241\332 は "【" です
#list_regexp = /^\241(?=\332)|^・/

## 用例マーク正規表現 (デフォルトは以下の通り)
#example = /^【用例|^・/

## xselction からの最大 copy 文字数 (デフォルトは以下の通り)
#max_xselection_length = 1000

## 入力履歴用キュー・サイズ (デフォルトは以下の通り)
#history_depth = 500

## 見出し語読み上げ用コマンド
## (デフォルトでは何も設定されていません)
say_command = 'festival --tts %s'

## ヒストリー保存ファイル表示用コマンド
## (デフォルトでは何も設定されていません)
view_command = 'nohup mozilla %s > /dev/null &'
